<div>
    {{#each this.model as |mahasiswa|}}
        <p>Nama: {{mahasiswa.nama}}</p>
        <p>NIM: {{mahasiswa.nim}}</p>
        <p>Jurusan: {{mahasiswa.jurusan}}</p>
        <br>
    {{/each}}
</div>
{{outlet}}